.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 74%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-600: hsl(257, 40%, 49%);
  --primary-color-200: hsl(300, 69%, 71%); 
}

html {
  --ff-body: "Open Sans", sans-serif;
  --ff-heading: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url(images/bg-mobile.svg) no-repeat;
  background-color: var(--primary-color-600);
}

img {
  display: block;
  width: 100%;
}

.logo {
  position: relative;
  width: 150px;
  top: 2rem;
  left: 3.5rem;
  
}

main{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  text-align: center;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1,
p,
i {
  color: #fff;
}

h1 {
  font-family: var(--ff-heading);
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 2rem;
}

p {
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 0.985rem;
  margin-bottom: 1rem;
}

button {
  color: var(--primary-color-600);
  background-color: #fff;
  padding: 15px 75px;
  border-radius: 25px;
  border: none;
  box-shadow: 10px 10px 10px var(--primary-color-600);
  margin-bottom: 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

i {
  width: 1.9rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  font-weight: 400;
}

button:hover,
button:active {
  cursor: pointer;
  background-color: var(--primary-color-200);
  color: #fff;
}

i:hover {
  color: var(--primary-color-200);
  border: 1px solid var(--primary-color-200);
}


@media screen and (min-width: 600px) {
   body {
    background: url(images/bg-desktop.svg) no-repeat;
    background-color: var(--primary-color-600);
   
  }

  main {
    max-height: 100vh;
  }
  
  .container{
    display: flex;
    flex-direction: row;
    align-content: center;
    min-height: 75vh;
  }
    
  .column {
    flex: 50%;
  }

  .text-content {
    text-align: left;
    margin-left: 1rem;
    position: relative;
  }

  .social-icons {
    display: flex;
    justify-content: end;
  }

  i {
    text-align: center;
  }
}











/*
@media screen and (min-width: 600px) {
  body {
    background: url(images/bg-desktop.svg) no-repeat;
    background-color: var(--primary-color-600);
    max-height: 100vh;
    position: relative;
  }

  .container {
    width: 100vw;
    height: 80vh;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    outline: 1px solid lime;
  }

  

  

  
}
*/